<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak State</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.lowernotifprefs</string>
			<key>PostNotification</key>
			<string>com.0xkuj.lowernotifprefs.settingschanged</string>
			<key>key</key>
			<string>isTweakEnabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Maximum Notifications Height Point</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>500.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>501</integer>
			<key>defaults</key>
			<string>com.0xkuj.lowernotifprefs</string>
			<key>key</key>
			<string>maxPointNotifications</string>
			<key>PostNotification</key>
			<string>com.0xkuj.lowernotifprefs.settingschanged</string>
		</dict>
		<dict>
		<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configurable Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.lowernotifprefs</string>
			<key>PostNotification</key>
			<string>com.0xkuj.lowernotifprefs.settingschanged</string>
			<key>key</key>
			<string>isCreateBlurLine</string>
			<key>label</key>
			<string>Create Blurred Seperator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.lowernotifprefs</string>
			<key>PostNotification</key>
			<string>com.0xkuj.lowernotifprefs.settingschanged</string>
			<key>key</key>
			<string>isQuickButtonsFade</string>
			<key>label</key>
			<string>Fade Quick Buttons When Scrolling</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Respring to apply</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Buy me a beer ;)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openGithub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub.png</string>
			<key>label</key>
			<string>My GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made by 0xkuj v1.0.0</string>
		</dict>
	</array>
	<key>title</key>
	<string>LowerNotifsPrefs</string>
</dict>
</plist>
